<section class="vacancies">
    <div class="search-result-container">
        <div class="pin-icon"></div>
    <div class="search-result">
        <div class="search-result-city">Варшава</div>
        <div class="search-result-change">Изменить</div>
    </div>
    <div class="number-search-vacancies"><span>Знайдено вакансій <span>100</span></span></div>
    </div>
<!--#insert file="__vacanciessearch/--vacanciessearch.html"-->
<!--#insert file="__vacanciescard/--vacanciescard.html"-->
<!--#insert file="__vacanciescard/--vacanciescard.html"-->
<!--#insert file="__vacanciescard/--vacanciescard.html"-->
<!--#insert file="__vacanciescard/--vacanciescard.html"-->
<!--#insert file="__vacanciescard/--vacanciescard.html"-->
    <div class="vacancies-page-count">
        <div class="vacancies-page-count-container">
        <a href="#" class="vacansies-page-number">1 из 100</a>
        <a href="#" class="vacansies-page-next">Далі <span>&#8250;
        </div></span></a>
    </div>
</section>