<section class="vacancies-slider slideshow-container">
    <div class="mySlides fade">
        <div class="vacancies-slide-content-box">
        <div class="vacancies-slide-title"><span>робота</span> <span>в польщі</span></div>
        <div class="vacancies-slide-text">Пример текста, пример текста, пример текста. Пример текста, пример текста. Пример текста, пример текста, пример текста. Пример текста.</div>
        <a href="#" class="red-button">Детально</a>
        </div>
        <img src="img/vacancyimg1.jpg">
    </div>

    <div class="mySlides fade">
        <div class="vacancies-slide-content-box">
            <div class="vacancies-slide-title"><span>робота</span> <span>в польщі</span></div>
            <div class="vacancies-slide-text">Пример текста, пример текста, пример текста. Пример текста, пример текста. Пример текста, пример текста, пример текста. Пример текста.</div>
            <a href="#" class="red-button">Детально</a>
        </div>
        <img src="img/vacancyimg2.jpg">
    </div>

    <div class="mySlides fade">
        <div class="vacancies-slide-content-box">
            <div class="vacancies-slide-title"><span>робота</span> <span>в польщі</span></div>
            <div class="vacancies-slide-text">Пример текста, пример текста, пример текста. Пример текста, пример текста. Пример текста, пример текста, пример текста. Пример текста.</div>
            <a href="#" class="red-button">Детально</a>
        </div>
        <img src="img/vacancyimg3.jpg">
    </div>
    <div class="mySlides fade">
        <div class="vacancies-slide-content-box">
            <div class="vacancies-slide-title"><span>робота</span> <span>в польщі</span></div>
            <div class="vacancies-slide-text">Пример текста, пример текста, пример текста. Пример текста, пример текста. Пример текста, пример текста, пример текста. Пример текста.</div>
            <a href="#" class="red-button">Детально</a>
        </div>
        <img src="img/vacancyimg4.jpg">
    </div>
    <a class="prev">&#60;</a>
    <a class="next">&#62;</a>
    <div class="dots-container">
        <span class="dot" data-index = '0'></span>
        <span class="dot" data-index = '1'></span>
        <span class="dot" data-index = '2'></span>
        <span class="dot" data-index = '3'></span>
    </div>
</section>
